body {
    width: 800px;
    height: 800px;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    color: blue;
    text-align: center;
    border: 2px solid blue;
}

p {
    color: red;
}

.burger-paragraph {
    color: green;
    font-weight: 800;
}

.list {
    text-align: center;
}